<h1>Display Photos</h1>
<main>
  <ul>
    <li *ngFor="let photo of displayedPhotos">
      <h3>{{ photo?.id }}</h3>
      <h6>{{ photo?.title }}</h6>
      <img [src]="photo?.thumbnailUrl" [alt]="photo?.title" />
    </li>
  </ul>
</main>
<div class="pagination">
  <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">
    Previous
  </button>
  <span>Page {{ currentPage }} of {{ totalPages }}</span>
  <button
    (click)="goToPage(currentPage + 1)"
    [disabled]="currentPage === totalPages"
  >
    Next
  </button>
</div>
