h1 {
  text-align: center;
}
h6 {
  height: 15px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  list-style-type: none;
  margin: 20px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

li {
  width: 300px;
}

img {
  width: 150px;
  height: 150px;
}

.pagination {
  margin: 40px auto;
  text-align: center;
}

button {
  margin: 0 15px;
}
